html {
  text-transform: uppercase;
}

li {
  list-style: none;
}

.app {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header-container {
  height: 3rem;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem;
}

.content-container {
  padding-left: 1rem;
}

.chart-container {
  height: 600px;
  width: 1000px;
}

.time-frame-container {
  display: flex;
  gap: 1rem;
}

.active-ticker-symbol {
  padding-bottom: 1rem;
}

.time-frame-container > * {
  cursor: pointer;
}

.ticker-symbol {
  background: none;
  border: transparent;
  cursor: pointer;
}

/* Toggled CSS selectors */

.active-timeframe {
  text-decoration: underline;
}
