.app {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-areas:
    "header header"
    "side-bar section-content";
}

.header-container {
  height: 3rem;
  grid-area: header;
}

.side-bar-container {
  grid-area: side-bar;
}

.content-container {
  grid-area: section-content;
}

.chart-container {
  height: 600px;
  width: 1000px;
}
