.app {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-areas:
    "header header"
    "side-bar section-content";
}

.header-container {
  height: 3rem;
  grid-area: header;
}

.side-bar-container {
  grid-area: side-bar;
}

.content-container {
  grid-area: section-content;
  padding-left: 1rem;
}

.chart-container {
  height: 600px;
  width: 1000px;
}

.time-frame-container {
  display: flex;
  gap: 1rem;
}

.active-ticker-symbol {
  padding-bottom: 1rem;
}

.time-frame-container > * {
  cursor: pointer;
}

.ticker-symbol {
  background: none;
  border: transparent;
  cursor: pointer;
}

/* Toggled CSS selectors */

.active-timeframe {
  text-decoration: underline;
}
